@page
@model PowerEvent.AdminSetPointModel
@{
    ViewData["Title"] = "AdminSetPoint";
}


    <form method="post">
        <select id="EventList" data-val="true" asp-for="@Model.SelectedEvent" onchange="listChanged('EventList')" style="width: auto">
            @{
                if (@Model.SelectedEvent == -1)
                {
                    <option value="-1">Vælg et event</option>
                }

                foreach (var item in @Model.EventList)
                {
                    <option value="@item.Id">@item.Navn</option>
                }
            }
        </select>
        <select id="AktivitetList" onchange="listChanged('AktivitetList')" asp-for="@Model.SelectedAktivitet">
            @{
                if (@Model.SelectedEvent != -1)
                {
                    if (@Model.SelectedAktivitet == -1)
                    {
                        <option value="-1">Vælg en aktivitet</option>
                    }
                    foreach (var item in @Model.AktivitetList)
                    {
                        <option value="@item.HoldSport">@item.Navn</option>
                    }
                }
            }
        </select>
        <select>
            <option value="1">Runde 1</option>
            <option value="2">Runde2</option>
            <option value="2">Runde3</option>
            <option value="2">Runde4</option>
            <option value="2">Runde5</option>
        </select><br />
        <select>
        </select>
        <input type="submit" value="Vælg" asp-page-handler="CmdSkift" />

        @{
            if (@Model.SelectedAktivitet != -1)
            {
                if (Model.SelectedAktivitet == 0)
                {
                    <h1>Hold Sport</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <p>Vælg et hold</p>
                                <select id="HoldListe" onchange="listChanged('HoldListe')" asp-for="@Model.SelectedHoldList" multiple style=" height: 350px; width: 300px">
                                    @{
                                        foreach (var item in @Model.HoldList)
                                        {
                                            <option value="@item.Id">@item.Navn</option>
                                        }
                                    }
                                </select>
                                <input type="submit" value="Slet" asp-page-handler="CmdRemoveHold" />
                            </div>
                            <div class="col-4">
                                <p>Holdets points</p>
                                <select multiple style=" height: 350px; width: 300px"></select>
                                <input type="text" placeholder="Giv point" />
                                <input type="submit" value="Gem" asp-page-handler="CmdAddHoldPoint" />
                                <input type="submit" value="Slet" asp-page-handler="CmdDeleteDHoldPoint" />
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Skift == 0)
                {
                    <h1>Deltager Sport</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <p>Vælg et hold</p>
                                <select id="HoldListe2" onchange="listChanged('HoldListe2')" asp-for="@Model.SelectedHoldList" multiple style=" height: 350px; width: 300px">
                                    @{
                                        foreach (var item in @Model.HoldList)
                                        {
                                            <option value="@item.Id">@item.Navn</option>
                                        }
                                    }
                                </select>
                                <input type="submit" value="Slet" asp-page-handler="CmdRemoveHold" />
                            </div>
                            <div class="col-sm-4">
                                <p>Vælg et navn</p>
                                <select multiple style=" height: 350px; width: 300px"></select>
                            </div>
                            <div class="col-sm-4">
                                <p>navnets points</p>
                                <select multiple style=" height: 350px; width: 300px"></select>
                                <input type="text" placeholder="Giv point" />
                                <input type="submit" value="Gem" asp-page-handler="CmdAddDeltagerPoint" />
                                <input type="submit" value="Slet" asp-page-handler="CmdDeleteDeltagerPoint" />
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </form>

@section Scripts
{
    <script>
        function listChanged(listen)
        {
            let url = new URL(location.href);

            let EventList = document.getElementById('EventList');
            let EventListValgt = EventList.options[EventList.selectedIndex].value;
            url.searchParams.set("EventList", EventListValgt);

            let HoldListe = document.getElementById('HoldListe');
            let HoldListeValgt = HoldListe.options[HoldListe.selectedIndex].value;
            url.searchParams.set("HoldListe", HoldListeValgt);

            let HoldListe2 = document.getElementById('HoldListe2');
            let HoldListe2Valgt = HoldListe2.options[HoldListe2.selectedIndex].value;
            url.searchParams.set("HoldListe2", HoldListe2Valgt);

            url.searchParams.set("navn", listen);            
            location.href = url;
        }
    </script>
}