@page
@model opretAktivit
@{
    ViewData["Title"] = "OpretAktivitet";
}

    <div container>
        <form method="Post">
            Opret aktivitet: <input type="text" asp-for="@Model.Aktivitet" placeholder="Aktivitet"/>
            <select data-val="true">
                @{
                    int i = 0;
                    foreach (var item in @Model.PointTypeList)
                    {
                        <option value="@i">@item.Text</option>
                        i++;
                    }
                }
            </select>
            <input type="submit" value="Gem" asp-page-handler="CmdSubmit" />
            <br />

            <select data-val="true" asp-items="@Model.AktivitetList" multiple style=" height: 400px; width: 250px"></select>
            
            <input type="submit" value="Slet" asp-page-handler="CmdDelete" />
        </form>
    </div>
