@page
@model Oversigt
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="row">
        <div class="col, text-center" style="width:100%;">
            <div style="border: 2px solid black; border-radius:15px;">
                <h1>Power Event<</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <select id="Listen" data-val="true" asp-for="@Model.SelectedEvent" onchange="listChanged('Listen')" style="width: auto">
            <option value="-1">Vælg et event</option>
            @{
                foreach (var item in @Model.EventList)
                {
                    <option value="@item.Id">@item.Navn</option>
                }
            }
        </select>
    </div>
    <div class="row">
        @{
            //foreach (var _item in )
            //{
            <div class="col-md-3">
                <br />
                <form method="post">
                    <table style=" max-height: 400px; width: 100%;">
                        <tr class="row" style="border: solid black; border-width: 1px 1px 0px 1px">
                            <th class="col">Hold Navn</th>
                        </tr>
                        @{
                            //checker om "item" er den første item og sæætter en top border hvis den er
                            bool firstItem = true;
                            string topBorderWidth = "1px";

                            foreach (var _item in @Model.DeltagerList)
                            {
                                <tr class="row" style="border: solid black; border-width: @topBorderWidth 1px 1px 1px">
                                    <td class="col">@_item.Id</td>
                                    <td class="col">@_item.Navn</td>
                                    <td class="col">@_item.EventId</td>
                                    <td class="col">@_item.HoldId</td>
                                    <td class="col">@_item.Score</td>
                                </tr>
                                if (firstItem)
                                {
                                    topBorderWidth = "0px";
                                    firstItem = false;
                                }
                            }
                        }
                    </table>
                </form>
            </div>
            //}
        }
    </div>
</div>

@section Scripts
{
    <script>
        function listChanged(listen)
        {
            let valgtListe = document.getElementById(listen);
            let valgt = valgtListe.options[valgtListe.selectedIndex].value;
            let url = new URL(location.href);
            url.searchParams.set("id", valgt);
            location.href = url;
        }
    </script>
}