@page
@model Oversigt
@using PowerEvent.Models;
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="row">
        <div class="col, text-center" style="width:100%;">
            <div style="border: 2px solid black; border-radius:15px;">
                <h1>Power Event<</h1>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <select id="EventList" data-val="true" asp-for="@Model.SelectedEvent" onchange="listChanged('EventList')" style="width: auto">
            @{
                if (@Model.SelectedEvent == -1)
                {
                    <option value="-1">Vælg et event</option>
                }

                foreach (var item in @Model.EventList)
                {
                    <option value="@item.Id">@item.Navn</option>
                }
            }
        </select>
    </div>
    <div class="row">
        @{
            foreach (var _hold in Model.HoldListe)
            {
                <div class="col-md-2">
                    <br />
                    <form method="post">
                        <table style=" height: auto; width: 100%;">
                            <tr class="row" style="border: solid black; border-width: 1px 1px 1px 1px">
                                <th class="col">@_hold.Id</th>
                            </tr>
                            @{
                                foreach (var _deltager in @Model.DeltagerList)
                                {
                                    if (_deltager.HoldId == _hold.Id)
                                    {
                                        <tr class="row" style="border: solid black; border-width: 0px 1px 1px 1px">
                                            <td class="col">@_deltager.Navn</td>
                                            <td class="col">@_deltager.HoldId</td>
                                            @*@{
                                    foreach (var _score in _item.ScoreList)
                                    {
                                        <td class="col">@_score.Score</td>
                                    }
                                }*@
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </form>
                </div>
            }
        }
    </div>
</div>


@section Scripts
{
    <script>
        function listChanged(listen)
        {
            let url = new URL(location.href);


            let EventList = document.getElementById('EventList');
            let EventListValgt = EventList.options[EventList.selectedIndex].value;
            url.searchParams.set("EventList", EventListValgt);
            

            url.searchParams.set("navn", listen);
            location.href = url;
        }
    </script>
}
