@page
@model PowerEvent.AdminSlutResultatModel
@{
    ViewData["Title"] = "AdminSlutResultat";
}
<div class="container">
    <div class="row">
        <div class="col, text-center" style="width:100%;">
            <div style="border: 2px solid black; border-radius:15px;">
                <h1>Resultat</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <style>
            #EventList {
                width: 120px;
            }

                #EventList:focus {
                    min-width: 120px;
                    width: auto;
                }
        </style>
        <!-- {asp-for="Model.SelectedEvent"} laver SelectedEvent int om til "value" property på det valgte element -->
        <select id="EventList" data-val="true" asp-for="@Model.SelectedEvent" onchange="elementChanged('EventList')">
            @{
                if (@Model.SelectedEvent == -1)
                {
                    <option value="-1" style="width:300px;">Vælg et event</option>
                }

                foreach (var item in @Model.EventList)
                {
                    <option value="@item.Id">@item.Navn</option>
                }
            }
        </select>
    </div>
    <div class="row">
        @{
            //laver dynamisk et "table" til hvert hold der indeholde holdets deltagere
            <div class="col-6 col-md-3 col-lg-2">
                <br />
                <div>
                    <table style=" height: auto; width: 100%;">
                        <tr>
                            <td class="col" style="border: solid black; border-width: 1px 1px 1px 1px; text-align:center; font-weight: bold; font-size: 1.4em;">Hold</td>
                        </tr>
                        @{
                            //opretter deltagerne af hver hold
                            foreach (var _hold in @Model.HoldList)
                            {
                                if (_hold.Id == _hold.Id)
                                {
                                    <tr>
                                        <td class="col" style="border: solid black; border-width: 1px 1px 1px 1px; text-align:center; font-size: 1.4em; background-color: @_hold.Farve; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; color: white">@_hold.Navn</td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>


            //laver dynamisk et "table" til hvert Aktivitet
            foreach (var _eventAktivitet in Model.EventAktivitetList)
            {
                <div class="col-6 col-md-3 col-lg-2">
                    <br />
                    <table style=" height: auto; width: 100%;">
                        <tr>
                            <th class="col" style="border: solid black; border-width: 1px 1px 1px 1px; text-align:center; font-size: 1.4em;">@Model.AktivitetList.Where(i => i.Id == @_eventAktivitet.AktivitetId).FirstOrDefault().Navn</th>
                        </tr>

                        @*opretter score af hver Aktivitet*@
                        @{ 
                            foreach (var _hold in @Model.HoldList)
                            {
                                _hold.HoldAktiviteter.Where(i => i.EventAktivitetId == _eventAktivitet.Id).ToList();
                                    <tr>
                                        <td class="col" style="border: solid black; border-width: 0px 1px 1px 1px; text-align:center;">/td>
                                   </tr>   
                            }
                        }
                    </table>
                </div>
            }
        }
    </div>
</div>

@section Scripts
{
    <script>
        function elementChanged(elementet) {
            let url = new URL(location.href);

            //lav nedenstående 3 linjer for hver "select" liste
            let EventList = document.getElementById('EventList');
            let EventListValgt = EventList.options[EventList.selectedIndex].value;
            url.searchParams.set("EventList", EventListValgt);


            url.searchParams.set("ValgtGuiElemement", elementet);
            location.href = url;
        }
    </script>
}
