@page
@model PowerEvent.HoldOpsaetningModel
@{
    ViewData["Title"] = "HoldOpsaetning";
}

<h1>HoldOpsætning</h1>

<p>Event:</p>
<style> #EventList { width: 120px; } #EventList:focus { min-width: 120px; width: auto; } </style>
<select id="EventList" asp-for="@Model.SelectedEvent" onchange="eventListChanged()">
    @{
        if (Model.SelectedEvent == -1)
        {
            <option label="Vælg et event"></option>
        }
        foreach (var pevent in Model.EventList)
        {
                <option label="@pevent.Navn" value="@pevent.Id"></option>
        }
    }
</select>

@{ 
    if (Model.SelectedEvent != -1)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <form method="post">
                        <p>Spillers navn</p>
                        <input type="text" asp-for="@Model.DeltagerNavn"/>
                        <input type="submit" value="Opret" formmethod="post" asp-page-handler="CmdSubmitDeltagerNavn"/>
                    </form>
                    <select id="deltagerselect" style="min-width:150px; min-height:400px" multiple onchange="updateRemoveForm()">
                        @{
                            foreach (var deltager in Model.DeltagerList)
                            {
                                if (deltager.HoldId != null)
                                {
                                    string holdnavn = Model.HoldList.Find(x => x.Id == deltager.HoldId).Navn;
                                    <option label="@(string.Format("{0} - {1}", deltager.Navn, holdnavn))" value="@deltager.Id"></option>
                                }
                                else
                                {
                                    <option label="@deltager.Navn" value="@deltager.Id"></option>
                                }
                            }
                        }
                    </select>
                    <form method="post" id="removeplayer">
                        <input type="number" hidden asp-for="@Model.DeltagerID" />
                        <input type="submit" value="Fjern" formmethod="post" asp-page-handler="CmdRemoveDeltager" />
                    </form>
                    <div>
                        @{
                            Dictionary<string, int> teams = Model.teamCount();
                            foreach (KeyValuePair<string, int> pair in teams)
                            {
                                <p>@(string.Format("{0} - {1} personer", pair.Key, pair.Value))</p>
                            }
                            @*for (int i = 0; i < teams.Count; i++)
                            {
                                <p>@(string.Format("{0} - {1} personer", teams.Keys.GetEnumerator().Current, teams.Values.GetEnumerator().Current))</p>
                                teams.Keys.GetEnumerator().MoveNext();
                                teams.Values.GetEnumerator().MoveNext();
                            }*@
                        }
                    </div>
                </div>
                <div class="col-sm-2">
                    <div>
                        <select id="holdselect" onchange="updateTeamForm()">
                            <option label="Intet hold" value="-1"></option>
                            @{
                                foreach (var hold in Model.HoldList)
                                {
                                    <option label="@hold.Navn" value="@hold.Id"></option>
                                }
                            }
                        </select>
                        <form method="post" id="addplayertoteam">
                            <input type="number" hidden asp-for="@Model.DeltagerID" />
                            <input type="number" hidden asp-for="@Model.HoldID" />
                            <input type="submit" value="Tilføj spiller" formmethod="post" asp-page-handler="CmdAddDeltagerToHold" />
                        </form>
                        <button onclick="">Tilfældige hold</button>
                    </div>
                    
                </div>
            </div>
        </div>
    }
}

<script>
    function eventListChanged() {
        let list = document.getElementById("EventList");
        let items = list.children;
        let id = items.item(list.selectedIndex).getAttribute("value");

        let url = new URL(location.href);
        url.searchParams.set("Event", id);
        location.href = url;
    }

    function updateRemoveForm() {
        let playerindex = document.getElementById("deltagerselect").selectedIndex;
        let playerelement = document.getElementById("deltagerselect").children[playerindex];
        let player = playerelement.getAttribute("value");

        document.getElementById("removeplayer").children[0].setAttribute("value", player)
        document.getElementById("addplayertoteam").children[0].setAttribute("value", player)
    }

    function updateTeamForm() {
        let teamindex = document.getElementById("holdselect").selectedIndex;
        let holdelement = document.getElementById("holdselect").children[teamindex];
        let hold = holdelement.getAttribute("value");

        document.getElementById("addplayertoteam").children[1].setAttribute("value", hold)
    }
</script>

