@page
@model PowerEvent.ManageLoginModel
@{
    ViewData["Title"] = "ManageLogin";
}
@{
    if (@Model.CurrentLogin != null && Model.CurrentLogin.Id != 0)
    {
        <div class="container">
            <div class="row">
                <p>Opret Login:</p>
            </div>
            <div class="row">
                <input type="button" value="Tilfældig kode" onclick="elementChanged('CmdRndKode')" />
                <input id="TxtKodeord" type="text" placeholder="Kodeord" asp-for="TxtKodeord" />
                <input id="TxtKodeordRepeat" type="text" placeholder="Indtast kodeord igen" asp-for="TxtKodeord" />
                <input id="TxtBrugernavn" type="text" placeholder="Brugernavn" asp-for="TxtBrugernavn" />

                <style>
                    #AdminTypeList {
                        width: 120px;
                    }

                        #AdminTypeList:focus {
                            min-width: 120px;
                            width: auto;
                        }
                </style>
                <select id="AdminTypeList" data-val="true" asp-for="@Model.SelectedAdminType">
                    @{
                        if (@Model.SelectedAdminType == -1)
                        {
                            <option value="-1">Vælg en admintype</option>
                        }

                        foreach (var item in @Model.AdminTypeList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
                <style>
                    #OpretLoginEventList {
                        width: 120px;
                    }

                        #OpretLoginEventList:focus {
                            min-width: 120px;
                            width: auto;
                        }
                </style>
                <select id="OpretLoginEventList" data-val="true" asp-for="@Model.SelectedOpretloginEvent" onchange="elementChanged('OpretLoginEventList')">
                    @{
                        <option value="-1">Vælg et event</option>

                        foreach (var item in @Model.EventList)
                        {
                            <option value="@item.Id">@item.Navn</option>
                        }
                    }
                </select>
                <style>
                    #HoldList {
                        width: 120px;
                    }

                        #HoldList:focus {
                            min-width: 120px;
                            width: auto;
                        }
                </style>
                <select id="HoldList" onchange="elementChanged('HoldList')" asp-for="@Model.SelectedHold">
                    @{
                        if (@Model.SelectedHold == -1)
                        {
                            <option value="-1">Vælg et Hold</option>
                        }

                        foreach (var item in @Model.HoldList)
                        {
                            <option value="@item.Id">@item.Navn</option>
                        }
                    }
                </select>
                <input type="button" value="Opret" onclick="elementChanged('CmdOpretLogin')" />
            </div>
            <br />

            <div class="row">
                <style> #EventList { width: 120px; } #EventList:focus { min-width: 120px; width: auto; } </style>
                <select id="EventList" data-val="true" asp-for="@Model.SelectedEvent" onchange="elementChanged('EventList')">
                    @{
                        <option value="0">Intet event</option>
                        foreach (var item in @Model.EventList)
                        {
                            <option value="@item.Id">@item.Navn</option>
                        }
                    }
                </select>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <select id="LoginList" asp-for="@Model.SelectedLogin" onchange="elementChanged('LoginList')" multiple style=" height: 350px; width: 450px">
                            @{
                                <option value="-1" hidden></option>
                                foreach (var item in @Model.LoginList)
                                {
                                    <option value="@item.Id">
                                        @item.Brugernavn. 
                                        @{
                                            string _adminType = "";
                                            if (item.AdminType == 0)
                                            {
                                                @:Kode: @item.Kodeord.
                                                _adminType = "Bruger. ";
                                            }
                                            if (item.AdminType == 1)
                                            {
                                                _adminType = "Admin. ";
                                            }
                                            else if (item.AdminType == 2)
                                            {
                                                _adminType = "SuperAdmin. ";
                                            }
                                            @:Type: @_adminType
                                            if (item.EventId != null)
                                            {
                                                @:Event: @item.EventId.
                                            }

                                            if (item.HoldId != null)
                                            {
                                                @:Hold: @item.HoldId.
                                            }
                                        }
                                    </option>
                                }
                            }
                        </select>
                    </div>
                    <div class="row">
                        <input type="button" value="Slet" onclick="elementChanged('CmdSletLogin')" />
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    @{
                        PowerEvent.Models.Login _login = new Models.Login();
                        if (Model.LoginList.Count != 0 && Model.SelectedLogin != -1)
                        {
                            _login = @Model.LoginList.Where(i => i.Id == Model.SelectedLogin).First();
                        }
                        <div class="row">
                            <div>
                                <p class="col">Brugernavn: </p>
                                <p class="col">Kodeord: </p>
                            </div>
                            <div>
                                <input disabled type="text" value="@_login.Brugernavn" class="col" />
                                <input disabled type="text" value="@_login.Kodeord" class="col" />
                            </div>
                        </div>
                        string _bruger = "";
                        _bruger = "Hold(Brugernavn): " + @_login.Brugernavn + ".";
                        if (_login.AdminType == 0 && _login.Kodeord != null && _login.Kodeord != "")
                        {
                            _bruger += " Kodeord: " + @_login.Kodeord;
                        }
                        <input type="button" value="Kopier" onclick="copyToClipboard('@_bruger')" style="background-color: lightgray;" />

                        @*<input type="button" value="Kopier alle fra event" onclick="copyToClipboard('alle')" style="background-color: lightgray;" />*@
                    }
                </div>
                <br />
            </div>
        </div>


        @section Scripts
        {
            <script>
                function elementChanged(elementet) {
                    let url = new URL(location.href);
                    url.searchParams.set("TxtBrugernavn", '');
                    url.searchParams.set("TxtKodeord", '');
                    url.searchParams.set("TxtKodeordRepeat", '');

                    let AdminTypeList = document.getElementById('AdminTypeList');
                    let AdminTypeListValgt = AdminTypeList.options[AdminTypeList.selectedIndex].value;
                    url.searchParams.set("AdminTypeList", AdminTypeListValgt);

                    let OpretLoginEventList = document.getElementById('OpretLoginEventList');
                    let OpretLoginEventListValgt = OpretLoginEventList.options[OpretLoginEventList.selectedIndex].value;
                    url.searchParams.set("OpretLoginEventList", OpretLoginEventListValgt);

                    let EventList = document.getElementById('EventList');
                    let EventListValgt = EventList.options[EventList.selectedIndex].value;
                    url.searchParams.set("EventList", EventListValgt);

                    let HoldList = document.getElementById('HoldList');
                    let HoldListValgt = HoldList.options[HoldList.selectedIndex].value;
                    url.searchParams.set("HoldList", HoldListValgt);

                    let LoginList = document.getElementById('LoginList');
                    let LoginListValgt = LoginList.options[LoginList.selectedIndex].value;
                    url.searchParams.set("LoginList", LoginListValgt);


                    if (elementet == 'CmdOpretLogin') {
                        let TxtBrugernavn = document.getElementById('TxtBrugernavn').value;
                        url.searchParams.set("TxtBrugernavn", TxtBrugernavn);

                        let TxtKodeord = document.getElementById('TxtKodeord').value;
                        url.searchParams.set("TxtKodeord", TxtKodeord);

                        let TxtKodeordRepeat = document.getElementById('TxtKodeordRepeat').value;
                        url.searchParams.set("TxtKodeordRepeat", TxtKodeordRepeat);
                    }


                    url.searchParams.set("ValgtGuiElemement", elementet);
                    location.href = url;
                }

                function copyToClipboard(message)
                {
                    var msg = message;
                    @*if (msg == 'alle') {
                        @{ 
                            string text = "";
                            foreach (var _login in Model.LoginList)
                            {
                                text += "Hold(Brugernavn): " + @_login.Brugernavn + ". Kodeord: " + @_login.Kodeord + ". ";
                            }
                            @:msg == @text;
                        }
                    }*@
                    navigator.clipboard.writeText(msg);
                }
            </script>
        }

        @section NavMenu 
        {
            @{
                if (Model.CurrentLogin != null && Model.CurrentLogin.Id != 0)
                {
                    <partial name="_TopNavMenuPartialView" />
                }
            }
        }

    }
}
