@page
@model opretAktivit
@{
    ViewData["Title"] = "OpretAktivitet";
}

@{
    if (@Model.CurrentLogin != null && Model.CurrentLogin.Id != 0)
    {
        <div class="container">
            <div class="row">
                <p>Opret event:</p>
            </div>
            <div class="row">
                <input id="TxtEvent" type="text" placeholder="Event" />
                <input type="button" value="Gem" onclick="elementChanged('CmdGemEvent')" style="width: auto;" />
            </div>
            <br />
            <div class="row">
                <style>
                    #OpretEventList {
                        width: 120px;
                    }

                        #OpretEventList:focus {
                            min-width: 120px;
                            width: auto;
                        }
                </style>
                <select id="OpretEventList" asp-for="@Model.SelectedOpretEvent" onchange="elementChanged('OpretEventList')">
                    @{
                        if (Model.SelectedOpretEvent == -1)
                        {
                            <option value="-1">Vælg et event</option>
                        }
                        foreach (var item in @Model.OpretEventList)
                        {
                            <option value="@item.Id">@item.Navn</option>
                        }
                    }
                </select>

                @{
                    if (@Model.CurrentLogin != null && Model.CurrentLogin.AdminType == 2)
                    {
                        <input type="button" value="Slet" onclick="elementChanged('CmdSletEvent')" />
                        <p>skriv "@Model.OpretEventList.Where(i => i.Id == Model.SelectedOpretEvent).FirstOrDefault().Navn"</p>
                        <input id="TxtSletEvent" type="text" placeholder="skriv navnet på event for at slette" />
                    }
                }
            </div>
            <br />

            <div class="row">
                <p>Opret aktivitet:</p>
            </div>
            <div class="row">
                <input id="TxtAktivitet" type="text" placeholder="Aktivitet" />
                <style>
                    #PointTypeList {
                        width: 140px;
                    }

                        #PointTypeList:focus {
                            min-width: 140px;
                            width: auto;
                        }
                </style>
                <select id="PointTypeList" asp-for="@Model.SelectedPointType">
                    @{
                        if (Model.SelectedPointType == -1)
                        {
                            <option value="-1">Vælg PointType</option>
                        }
                        foreach (var item in @Model.PointTypeList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
                <style>
                    #HoldSportList {
                        width: 140px;
                    }

                        #HoldSportList:focus {
                            min-width: 140px;
                            width: auto;
                        }
                </style>
                <select id="HoldSportList" asp-for="@Model.SelectedHoldSport">
                    @{
                        if (Model.SelectedHoldSport == -1)
                        {
                            <option value="-1">Vælg HoldSport</option>
                        }
                        foreach (var item in @Model.HoldSportList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
                <input type="button" value="Gem" onclick="elementChanged('CmdGemAktivitet')" />
            </div>
            <br />



            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <select id="AktivitetList" asp-for="@Model.SelectedAktivitet" onchange="elementChanged('AktivitetList')" multiple style=" height: 350px; width: 450px">
                            @{
                                <option value="-1" hidden></option>
                                foreach (var item in @Model.GuiAktivitetList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    @{
                        if (@Model.CurrentLogin != null && Model.CurrentLogin.AdminType == 2)
                        {
                            <div class="row">
                                <input type="button" value="Slet" onclick="elementChanged('CmdDeleteAktivitet')" />
                            </div>
                        }
                    }
                </div>
                <br />
                <div class="col-12 col-lg-6">
                    <style>
                        #EventList {
                            width: 120px;
                        }

                            #EventList:focus {
                                min-width: 120px;
                                width: auto;
                            }
                    </style>
                    <select id="EventList" data-val="true" asp-for="@Model.SelectedEvent" onchange="elementChanged('EventList')">
                        @{
                            if (@Model.SelectedEvent == -1)
                            {
                                <option value="-1" style="width:300px;">Vælg et event</option>
                            }
                            foreach (var item in @Model.EventList)
                            {
                                <option value="@item.Id">@item.Navn</option>
                            }
                        }
                    </select>
                    <div class="row">
                        <div class="col">
                            <select id="EventAktivitetList" asp-for="@Model.SelectedEventAktivitet" onchange="elementChanged('EventAktivitetList')" multiple style=" height: 350px; width: 450px">
                                @{
                                    <option value="-1" hidden></option>
                                    foreach (var item in @Model.EventAktivitetList)
                                    {
                                        <option value="@item.Id">@Model.AktivitetList.Where(i => i.Id == item.AktivitetId).FirstOrDefault().Navn</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <input type="button" value="Tilføj" onclick="elementChanged('CmdAddEventAktivitet')" />
                    <input type="button" value="Slet" onclick="elementChanged('CmdDeleteEventAktivitet')" />
                </div>
                <br />
            </div>
        </div>


        @section Scripts
        {
            <script>
                function elementChanged(elementet) {
                    let url = new URL(location.href);
                    url.searchParams.set("TxtAktivitet", '');

                    let PointTypeList = document.getElementById('PointTypeList');
                    let PointTypeListValgt = PointTypeList.options[PointTypeList.selectedIndex].value;
                    url.searchParams.set("PointTypeList", PointTypeListValgt);

                    let HoldSportList = document.getElementById('HoldSportList');
                    let HoldSportListValgt = HoldSportList.options[HoldSportList.selectedIndex].value;
                    url.searchParams.set("HoldSportList", HoldSportListValgt);

                    let AktivitetList = document.getElementById('AktivitetList');
                    let AktivitetListValgt = AktivitetList.options[AktivitetList.selectedIndex].value;
                    url.searchParams.set("AktivitetList", AktivitetListValgt);

                    if (elementet == 'CmdGemEvent') {
                        let TxtEvent = document.getElementById('TxtSletEvent').value;
                        url.searchParams.set("TxtSletEvent", TxtEvent);
                    }

                    if (elementet == 'CmdSletEvent') {
                        let valgtAktivitet = document.getElementById('TxtAktivitet').value;
                        url.searchParams.set("TxtAktivitet", valgtAktivitet);
                    }

                    if (elementet == 'CmdGemAktivitet') {
                        let valgtAktivitet = document.getElementById('TxtAktivitet').value;
                        url.searchParams.set("TxtAktivitet", valgtAktivitet);
                    }

                    let EventAktivitetList = document.getElementById('EventAktivitetList');
                    let EventAktivitetListValgt = EventAktivitetList.options[EventAktivitetList.selectedIndex].value;
                    url.searchParams.set("EventAktivitetList", EventAktivitetListValgt);

                    let EventList = document.getElementById('EventList');
                    let EventListValgt = EventList.options[EventList.selectedIndex].value;
                    url.searchParams.set("EventList", EventListValgt);

                    let OpretEventList = document.getElementById('OpretEventList');
                    let OpretEventListValgt = OpretEventList.options[OpretEventList.selectedIndex].value;
                    url.searchParams.set("OpretEventList", OpretEventListValgt);


                    url.searchParams.set("ValgtGuiElemement", elementet);
                    location.href = url;
                }
            </script>
        }

        @section NavMenu
        {
            @{
                if (Model.CurrentLogin != null && Model.CurrentLogin.Id != 0)
                {
                    <partial name="_TopNavMenuPartialView" />
                }
            }
        }

    }
}
