@page
@model PowerEvent.OpretEventModel
@{
    ViewData["Title"] = "OpretEvent";
}

@{
    if (@Model.CurrentLogin != null && Model.CurrentLogin.Id != 0)
    {
        <div class="container">
            <div class="row">
                <p>Opret event:</p>
            </div>
            <div class="row">
                <input id="TxtEvent" type="text" placeholder="Event" />
                <input type="button" value="Gem" onclick="elementChanged('CmdGemEvent')" />
            </div>
            <br />



            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <select id="EventList" asp-for="@Model.SelectedEvent" onchange="elementChanged('EventList')" multiple style=" height: 350px; width: 450px">
                            @{
                                <option value="-1" hidden></option>
                                foreach (var item in @Model.EventList)
                                {
                        <option value="@item.Id">@item.Navn</option>
                                }
                            }
                        </select>
                    </div>
                    @{
                        if (@Model.CurrentLogin != null && Model.CurrentLogin.AdminType == 2)
                        {
                            <div class="row">
                                <input type="button" value="Slet" onclick="elementChanged('CmdSletEvent')" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>


        @section Scripts
        {
            <script>
                function elementChanged(elementet) {
                    let url = new URL(location.href);
                    url.searchParams.set("TxtEvent", '');


                    if (elementet == 'CmdGemEvent') {
                        let TxtEvent = document.getElementById('TxtEvent').value;
                        url.searchParams.set("TxtEvent", TxtEvent);
                    }

                    let EventList = document.getElementById('EventList');
                    let EventListValgt = EventList.options[EventList.selectedIndex].value;
                    url.searchParams.set("EventList", EventListValgt);


                    url.searchParams.set("ValgtGuiElemement", elementet);
                    location.href = url;
                }
            </script>
        }

        @section NavMenu
        {
            @{
                if (Model.CurrentLogin != null && Model.CurrentLogin.Id != 0)
                {
                    <partial name="_TopNavMenuPartialView" />
                }
            }
        }

    }
}
