@page
@model PowerEvent.ScoreBoardModel
@{
    ViewData["Title"] = "ScoreBoard";
}

@{
    if (@Model.CurrentLogin != null && Model.CurrentLogin.Id != 0)
    {
    <div container>
        <div class="text-center">
            <h1>ScoreBoard @Model.EventName</h1>
            <div class="row justify-content-md-center">
                <style>
                    #EventList {
                        width: 120px;
                    }

                        #EventList:focus {
                            min-width: 120px;
                            width: auto;
                        }
                </style>
                <select id="EventList" data-val="true" asp-for="@Model.SelectedEvent" onchange="elementChanged('EventList')">
                    @{
                        if (@Model.SelectedEvent == -1)
                        {
                            <option value="-1">Vælg et event</option>
                        }

                        foreach (var item in @Model.EventList)
                        {
                            <option value="@item.Id">@item.Navn</option>
                        }
                    }
                </select>
                <style>
                    #AktivitetList {
                        width: 140px;
                    }

                        #AktivitetList:focus {
                            min-width: 140px;
                            width: auto;
                        }
                </style>
                <select id="AktivitetList" asp-for="@Model.SelectedEventAktivitet" onchange="elementChanged('AktivitetList')">
                    @{
                        if (@Model.SelectedEvent == -1)
                        {
                            <option value="-1" hidden></option>
                        }
                        if (@Model.SelectedEvent != -1)
                        {
                            if (@Model.SelectedEventAktivitet == -1)
                            {
                                <option value="-1">Vælg en Aktivitet</option>
                            }
                            foreach (var item in @Model.EventAktivitetList)
                            {
                                <option value="@item.Id">@Model.AktivitetList.Where(i => i.Id == item.AktivitetId).FirstOrDefault().Navn</option>
                            }
                        }
                    }
                </select>
                <style>
                    #OrderList {
                        width: 120px;
                    }

                        #OrderList:focus {
                            min-width: 120px;
                            width: auto;
                        }
                </style>
                <select id="OrderList" asp-for="@Model.SelectedOrder" onchange="elementChanged('OrderList')">
                    @{
                        <option value="-1" hidden></option>
                        if (@Model.SelectedEvent != -1 && Model.SelectedEventAktivitet != -1)
                        {
                            if (@Model.SelectedOrder == -1)
                            {
                                <option value="-1">Vælg en runde</option>
                            }
                            foreach (var item in @Model.OrderList)
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    }

                </select>
                <br />
            </div>
        </div>

        @{
            if (@Model.SelectedEvent != -1 && Model.SelectedOrder != -1)
            {
                <div class="row">
                    @{
                        foreach (var _hold in Model.HoldList)
                        {
                            PowerEvent.Models.Aktivitet tempaktivitet = Model.AktivitetList.Where(i => i.Id == Model.EventAktivitetList.Where(i => i.Id == Model.SelectedEventAktivitet).FirstOrDefault().AktivitetId).FirstOrDefault();
                            if (tempaktivitet.HoldSport == 0)
                            {
                                <div class="col">
                                    <div class="row" style="font-weight: bolder; font-size: 1.4em;">
                                        <p>Hold : @_hold.Navn</p>
                                    </div>

                                    <div class="row justify-content-md-center">
                                        <div class="col-md">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Score</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        foreach (var _holdScore in _hold.HoldAktiviteter.Where(i => i.Id == tempaktivitet.Id).FirstOrDefault().HoldScores)
                                                        {
                                                            <tr>
                                                                @{
                                                                    <th>@_holdScore.HoldScore</th>

                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (tempaktivitet.HoldSport == 1)
                            {
                                <div class="col">
                                    <div class="row" style="font-weight: bolder; font-size: 1.4em;">
                                        <p>Hold : @_hold.Navn</p>
                                    </div>

                                    <div class="row justify-content-md-center">
                                        <div class="col-md">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Navn</th>
                                                        <th scope="col">Score</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        foreach (var deltager in Model.DeltagerList.Where(i => i.HoldId == _hold.Id).ToList())
                                                        {
                                                            <tr>
                                                                @{
                                                                    <th>@deltager.Navn</th>
                                                                    <th>
                                                                        @{
                                                                            deltager.ScoreList = deltager.ScoreList.Where(i => i.EventAktivitetId == Model.SelectedEventAktivitet).ToList().OrderByDescending(i => i.Score).ToList();
                                                                            int antal = 3;
                                                                            if (deltager.ScoreList.Count < 3)
                                                                            {
                                                                                antal = deltager.ScoreList.Count;
                                                                            }
                                                                            for (int i = 0; i < antal; i++)
                                                                            {
                                                                                @: @deltager.ScoreList[i].Score.
                                                                            }

                                                                        }
                                                                    </th>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
        }
    </div>
@section Scripts
        {
    <script>
            function elementChanged(elementet)
            {
                let url = new URL(location.href);

                let EventList = document.getElementById('EventList');
                let EventListValgt = EventList.options[EventList.selectedIndex].value;
                url.searchParams.set("EventList", EventListValgt);

                let AktivitetList = document.getElementById('AktivitetList');
                let AktivitetListValgt = AktivitetList.options[AktivitetList.selectedIndex].value;
                url.searchParams.set("AktivitetList", AktivitetListValgt);

                let OrderList = document.getElementById('OrderList');
                let OrderListValgt = OrderList.options[OrderList.selectedIndex].value;
                url.searchParams.set("OrderList", OrderListValgt);

                url.searchParams.set("ValgtGuiElemement", elementet);
                location.href = url;
            }
    </script>
}

        @section NavMenu
        {
            @{
                if (Model.CurrentLogin != null && Model.CurrentLogin.Id != 0)
                {
                    <partial name="_TopNavMenuPartialView" />
                }
            }
        }

    }
}
